<% title @team.name %>

<h1><%= yield :title %></h1>

<table>
<% @tweetArray.each do |name, tweets| %>
  <tr>
    <td><%= image_tag(tweet.user.profile_image_url,  :alt =>tweet.user.name)%></td>
    <td><%= tweet.text %></td>
  </tr>
<% end %>
</table>

<%= link_to "Delete Team", user_team_path(current_user, @team), :method => :delete %>

